<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render 'sidebar/userinfo', user: @user %>
      <div class='right col-md-8 offset-md-1'>
        <h2>Comics</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>あらすじ</th>
              <th>レビュー</th>
              <th colspan="4"></th>
            </tr>
            <% @comics.each do |comic| %>
            <tr>
              <td>
                <%= link_to user_path(comic.user.id) do %>
                  <%= attachment_image_tag comic.user, :profile_image, size: "100x100", fallback: "default-image.jpg" %>
                <% end %>
              </td>
              <td><%= link_to comic.title, comic_path(comic.id) %></td>
              <td><%= comic.story %></td>
              <td><%= comic.review %></td>
            </tr>
            <% end %>
          </thead>
          <tbody></tbody>
        </table>
        
        <div class="paginate">
       　　 <%= paginate @comics %>
        </div>
      </div>
    </div>
  </div>
</main>