<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render 'sidebar/userinfo', user: @comic_user %>
        <div class='col-md-8 offset-md-1'>
          <h2>Comic detail</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              <td>
                <%= link_to user_path(@comic_user.id) do %>
                  <%= attachment_image_tag @comic_user, :profile_image, size: "100x100", fallback: "default-image.jpg" %>
                <% end %><br>
                <%= link_to @comic_user.name, user_path(@comic_user.id) %>
              </td>
              <td><%= link_to @comic.title, comic_path(@comic.id) %></td>
              <td><%= @comic.story %></td>
              <td><%= @comic.review %></td>
              <% if @comic_user.id == current_user.id %>
              <td><%= link_to 'Edit', edit_comic_path(@comic.id) %></td>
              <td><%= link_to 'Destroy', comic_path(@comic.id), method: :delete, "data-confirm" => "本当に消しますか？"%></td>
              <% end %>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        
        <div class='comment'>
          <h2>コメント</h2>
            <%= form_with(model:[@comic, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'3', cols: '60', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
            <% end %>
        </div>
        
        <table class='table table-hover table-inverse table-borderless'>
          <h2>コメント一覧</h2>
            <p>コメント件数：<%= @comic.post_comments.count %></p>
              <% @comic.post_comments.each do |post_comment| %>
          <thead>
            <tr>
              <th></th>
              <td>
                <p><%= attachment_image_tag post_comment.user, :profile_image, size: "100x100", fallback: "default-image.jpg" %></p>
                <%= post_comment.user.name %>
              </td>
              <td><%= post_comment.comment %></td>
              <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
              <% if post_comment.user == current_user %>
              <td><%= link_to "削除", comic_post_comment_path(post_comment.comic, post_comment), method: :delete %> </td>
              <% end %>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</main>